.index {
  //background: #B0E2FF;
  .radius{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: -1;
    overflow: hidden;
  }
  .radius::after {
    content: '';
    width: 140%;
    height: 100px;
    position: absolute;
    left: -20%;
    top: 0;
    z-index: -1;
    border-radius: 0 0 60% 60%;
    background: linear-gradient(#00BFFF,#87CEFF);
    //background: #00BFFF;
  }
  .firstDiv {
    width: 100%;
    height: 70%;
    background: #ffffff;
    text-align: center;
    .firstRow {
      margin-top: 20px;
      span {
        font-size: 15px;
        font-weight: bold;
        margin-top: 20px;
      }
    }
    .secondRow {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      //margin-top: -20px;
      text-align: center;
      img{
        border-radius: 10px;
      }
    }
    .list {
      .scroll-view {
        white-space: nowrap;
        li {
          display: inline-block;
          width: 650rpx;
          margin-left: 20px;
          margin-bottom: 10px;
          border: solid 1px #8B8B83;
          border-radius: 10px;
          .border{
            padding: 0 10px 20px 10px;
            .top {
              margin-bottom: 10px;
              .firstRow{
                padding-bottom:10px ;
                .firstCol{
                  text-align: left;
                  .keyword{
                    font-size: 18px;
                  }
                  .root{
                    font-size: 16px;
                    color: #8B8B83;
                  }
                }
                .secondCol{
                  text-align: right;
                  .score{
                    font-size: 18px;
                    color: #00BFFF;
                  }
                  .scoredDiv{
                    font-size: 16px;
                    color: #87CEFF;
                  }
                }
              }
              border-bottom: solid 1px #8B8B83;
            }
            img {
              //display: block;
              width: 575rpx;
              height: 400rpx;
              border-radius: 10rpx;
              text-align: center;
              margin-bottom: 0px;
            }
          }
        }
        li:last-child {
          margin-right: 20px;
        }
      }
    }
    .thirdRow {
      margin-top: 20px;
      span {
        font-size: 15px;
        font-weight: bold;
        margin-top: 20px;
      }
    }
    .forthRow {
      margin-top: 10px;
      margin-bottom: 20px;
      span {
        font-size: 15px;
        float: right;
        //margin-top: 20px;
      }
    }
    //.fifthRow {
    //  margin: 10px 0;
    //}
  }

  .secondDiv {
    margin-top: 20px;
    width: 100%;
    background: #ffffff;
    .firstRow {
      text-align: center;
      height: 60px;
      border-bottom: solid 1px #F4F4F4;
      span {
        line-height: 60px;
        font-size: 15px;
      }
    }
    .secondRow {
      width: 100%;
      div {
        margin: 20px;
        border-radius: 10px;
        background: #EFEFF1;
        padding: 15px;
          //span {
          //  font-size: 15px;
          //  line-height: 60px;
          //  padding: 15px;
          //}
        img {
          position: relative;
          height: 20px;
          width: 20px;
          bottom: 25px;
          float: right;
          right: 7px;
        }
      }
    }
  }
}
