.index {
  //margin-top: 250px;
  .auxiliary {
    width: 100%;
    margin-top: 20 rpx;
    background: #ffffff;

    .content {
      width: 100%;
      margin: 10px 0 10px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        width: 90%;
        height: 235 rpx;
        margin: auto;
        position: relative;

        div {
          position: absolute;
          top: 20px;
          left: 10px;
          padding: 10 rpx;

          p {
            text-align: center;
            font-size: 50px;
            color: #333333;
          }
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
  }
  .firstDiv {
    margin: 50px auto;
    width: 70%;
    font-size: 16px;
    color: #8B8B83;
    text-align: center;
    img {
      width: 130px;
      height: 130px;
    }
  }
  .secondDiv {
    padding: 10px;
    margin-top: 15%;
    img {
      width: 50px;
      height: 50px;
    }
    .firstCol {
      font-size: 18px;
    }
    .secondCol {
      font-size: 16px;
      padding-top: 8px;
      color: #8B8B83;
    }
  }
  .secondDiv:active{
    background-color: #e8e8e8;
  }

  .thirdDiv{
    width: 80%;
    border-bottom: solid 1px #F4F4F4;
    margin: 10px auto;
  }

  .fourthDiv{
    padding: 10px;
    img {
      width: 50px;
      height: 50px;
    }
    .firstCol {
      font-size: 18px;
    }
    .secondCol {
      font-size: 16px;
      padding-top: 8px;
      color: #8B8B83;
    }
  }
  .fourthDiv:active{
    background-color: #e8e8e8;
  }
}
