.index {
  margin-top: 250px;
  .auxiliary{
    width: 100%;
    margin-top: 20rpx;
    background: #ffffff;

    .content {
      width: 100%;
      margin: 10px 0 10px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        width: 90%;
        height: 235rpx;
        margin: auto;
        position: relative;

        div {
          position: absolute;
          top: 20px;
          left: 10px;
          padding: 10rpx;

          p{
            text-align: center;
            font-size: 50px;
            color: #333333;
          }
        }

        img {
          width: 100%;
          height: 100%;
          border-radius:5px;
        }
      }
    }
  }
}
